/* PrismJS 1.26.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+bash+c+cpp+http+json+latex+markdown+prolog+python+shell-session+sql&plugins=line-numbers+custom-class+keep-markup */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background: none;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #FFFFFF;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.prism-token.prism-comment,
.prism-token.prism-prolog,
.prism-token.prism-doctype,
.prism-token.prism-cdata {
	color: slategray;
}

.prism-token.prism-punctuation {
  color: #616161; /* MD Gray 700 */
  font-weight: normal;
}

.prism-token.prism-namespace {
	opacity: .7;
}

.prism-token.prism-property,
.prism-token.prism-tag,
.prism-token.prism-boolean,
.prism-token.prism-number,
.prism-token.prism-constant,
.prism-token.prism-symbol,
.prism-token.prism-deleted {
  color: #B04701;
  font-weight: normal;
}

.prism-token.prism-string {
  color: #006400;
  font-weight: normal;
}

.prism-token.prism-selector,
.prism-token.prism-attr-name,
.prism-token.prism-char,
.prism-token.prism-builtin,
.prism-token.prism-inserted {
  color: #7F0055;
  font-weight: normal;
}

.prism-token.prism-operator,
.prism-token.prism-entity,
.prism-token.prism-url,
.language-css .prism-token.prism-string,
.style .prism-token.prism-string {
  color: #000000;
  font-weight: normal;
}

.prism-token.prism-atrule,
.prism-token.prism-attr-value,
.prism-token.prism-keyword {
  color: #7F0055;
  font-weight: bold;
}

.prism-token.prism-function,
.prism-token.prism-class-name {
  color: #0000a0;
  font-weight: bold;
}

.prism-token.prism-regex,
.prism-token.prism-important,
.prism-token.prism-variable {
	color: #e90;
}

.prism-token.prism-important,
.prism-token.prism-bold {
	font-weight: bold;
}
.prism-token.prism-italic {
	font-style: italic;
}

.prism-token.prism-entity {
	cursor: help;
}

pre[class*="language-"].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
	position: relative;
	white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

	.line-numbers-rows > span {
		display: block;
		counter-increment: linenumber;
	}

		.line-numbers-rows > span:before {
			content: counter(linenumber);
			color: #999;
			display: block;
			padding-right: 0.8em;
			text-align: right;
		}

