.navbar-burger {
  visibility: hidden;
}

.is-gui-element {
  color: $md-red-900;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

a::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

/**************************************
 * content Bulma override
 **************************************/

.content {
  font-size: 1.15rem;
}

.content .card {
  font-size: 1rem;
}

.content h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.content h2 {
  font-size: 1.75rem;
  font-weight: 500;
}

.content h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.content h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

.content h5,
.content h6 {
  font-size: 1rem;
  font-weight: 500;
}

.content code {
  background-color: inherit;
  padding: 0;
}

/* hide bullet in menu-list inside content */
.content ul.menu-list {
  margin-left: 0;
  margin-right: 0;
  list-style: none;
}

/**************************************
 * list styles
 **************************************/

.content ul.ul-dash {
  list-style-type: none;
  margin-left: 0;
  padding-left: 2.5em;
}

.content ul {
  margin-top: 0;
}

ul.ul-dash li:before {
  content: '– ';
  position: absolute;
  margin-left: -1.25em;
}

/**************************************
 * figures
 **************************************/

.content table {
  width: auto;
}

figure.image img {
  width: auto;
}

figure.image img[src$="#bordered"] {
  border-style: solid;
  border-color: black;
  border-width: 1pt;
}

.content .column figure {
  margin-left: 0;
  margin-right: 0;
}

figcaption.figure-figcaption {
  text-align: center;
  font-style: italic;
  color: $md-grey-600;
}

/**************************************
 * links
 **************************************/
/* show link underscored on hover */
.content a:hover {
  text-decoration: underline;
}

/* fixes for navigation elements in content */
.content .tabs a:hover,
.content ul.menu-list a:hover {
  text-decoration: none;
}

.content .tabs ul {
  margin-left: 0;
}

/**************************************
 * cards
 **************************************/

 /* adjust card heights */
.card {
  flex-grow: 1;
}

/* adjust card heights */
.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
}
