// 1. Import the initial variables
@import "md-colours";
@import "initial-variables";

$desktop: 800px + (2 * $gap);

@import "../lib/bulma/sass/utilities/functions";

/*
$black: #000000;
$black-bis:
$black-ter:
$grey-darker:
$grey-dark:
$grey:
$grey-light :
$grey-lighter:
$white-ter:
$white-bis:
$white: #FFFFFF;
*/

/* Navbar */
$navbar-background-color: $md-red-900;
$navbar-item-color: $md-red-50;
$navbar-item-hover-color : $md-white;
$navbar-item-hover-background-color: rgba(255, 255, 255, 0.25); /* White 25% Opacity */
.navbar-brand a {
  font-weight: 500;
  font-size: 1.5em;
}

.navbar-brand .navbar-item:hover {
  color: $md-white;
  background-color: rgba(255, 255, 255, 0.25) !important; /* White 25% Opacity */
}
@media screen and (min-width: $desktop) {
  .navbar-brand a {
    width: 100%;
    justify-content: center;
  }
}

/* Footer */
$footer-background-color: $md-blue-grey-900;
$footer-color: $md-blue-grey-100;
$footer-padding: 1rem;
footer a,
footer a:hover {
  color: $md-blue-grey-100;
}


$link-visited: $blue;
$link-hover: $md-blue-a700;

$text: $black;

$menu-item-color: $blue;
$menu-item-hover-color: $md-blue-a700;
$menu-item-hover-background-color: $md-blue-50;

// 3. Set the derived variables
// Use the new pink as the primary color

// Use the existing orange as the danger color

// 4. Setup your Custom Colors
$blue-light: $md-blue-100;
$blue-light-invert: $md-black;
$green-light: $md-green-100;
$green-light-invert: $md-black;
$grey-light: $md-grey-100;
$grey-light-invert: $md-black;
$red-light: $md-red-100;
$red-light-invert: $md-black;
$yellow-light: $md-yellow-200;
$yellow-light-invert: $md-black;

// 5. Add new color variables to the color map.
@import "../lib/bulma/sass/utilities/derived-variables";
$addColors: (
  "blue-light": ($blue-light, $blue-light-invert),
  "cyan": ($md-cyan-700, $md-black),
  "green-light": ($green-light, $green-light-invert),
  "grey-light": ($grey-light, $grey-light-invert),
  "magenta": ($md-purple-700, $md-black),
  "red-light": ($red-light, $red-light-invert),
  "yellow": ($md-lime-700, $md-black),
  "yellow-light": ($yellow-light, $yellow-light-invert)
);

$colors: map-merge($colors, $addColors);

$slider-output-width: 4rem;

// 6. Import the rest of Bulma
@import "../lib/bulma/bulma.sass";
@import "../lib/bulma/extensions/bulma-slider.sass";
@import "../lib/bulma/extensions/bulma-switch.sass";

@import "./core/code";
@import "./core/exercise";
@import "./core/icon";
@import "./core/image-tag";
@import "./core/interactive";
@import "./core/markdown-view";
@import "./core/menu";

@import "Content";
@import "Sidebar";
@import "./components/Keyboard";
@import "./components/VueBinaryCards";
@import "./components/VueColourDiffieHellman";
@import "./components/VueColourPicker";
@import "./components/VueGrid";
