/**************************************
 * page layout and sidebar animation
 **************************************/

$sidebar: 280px !default;

html,
body,
.app {
  height: 100%;
}

.app {
  flex-direction: column;
  display: flex;
}

#scrolling {
  padding-top: 52px;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  padding-left: $sidebar;
  transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
}

#sidebar {
  height: 100%;
  left: 0;
  margin-left: 0;
  overflow-y: auto;
  position: fixed;
  width: $sidebar;
  z-index: 20;
  transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
}

#sidebar-mask {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 19;
  -webkit-transition: visibility 0 linear .4s,opacity .4s cubic-bezier(.4,0,.2,1);
  -moz-transition: visibility 0 linear .4s,opacity .4s cubic-bezier(.4,0,.2,1);
  -o-transition: visibility 0 linear .4s,opacity .4s cubic-bezier(.4,0,.2,1);
  transition: visibility 0 linear .4s,opacity .4s cubic-bezier(.4,0,.2,1);
  transform: translateZ(0);
  background-color: rgba(0,0,0,.5);
  opacity: .1;
  visibility: hidden;
}

main {
  flex-grow: 1;
}

.navbar-brand {
  width: $sidebar;
}

/**************************************
 * Print
 **************************************/
@media print {
  #sidebar,
  #sidebar-mask,
  nav.navbar {
    display: none !important;
  }
  main {
    color: black !important;
  }
}

/**************************************
 * Smartphone
 **************************************/
body:before {
  content: "smartphone";
  display: none;
}

main {
  padding: 1em;
}

#scrolling {
  padding-left: 0;
}

#sidebar {
  margin-left: -$sidebar;
}

.sidebar-visible #sidebar {
  margin-left: 0;
}

.sidebar-visible #sidebar-mask {
  opacity: 1;
  visibility: visible;
  transition-delay: 0;
}

/**************************************
 * Tablet
 **************************************/
@media screen and (min-width: $tablet) {
  body:before {
    content: "tablet";
  }

  #scrolling.sidebar-visible {
    padding-left: $sidebar;
  }

  .sidebar-visible #sidebar-mask {
    display: none;
  }
}

/**************************************
 * Desktop
 **************************************/
@media screen and (min-width: $desktop) {
  body:before {
    content: "desktop";
  }

  main {
    padding: 3em;
  }

  .sidebar-hidden #scrolling {
    padding-left: 0;
  }

  .sidebar-hidden #sidebar {
    left: -$sidebar;
  }
}

/**************************************
 * Widescreen
 **************************************/
@media (min-width: 1472px) {
  main {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}
