kbd {
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  background-color: #fcfcfc;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: #ccc;
  border-bottom-color: #bbb;
  box-shadow: inset 0 -1px 0 #bbb;
  color: #555;
  padding: 0px 5px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 1.5rem;
  text-align: center;
}

kbd.mdi {
  font: "Material Design Icons";
}

img.kbd {
  vertical-align: middle;
  height: 1.1em;
}

kbd.space {
  width: 4rem;
}

kbd.space::before {
  content: '\0000a0';
}
