.vue-flip-card {
  perspective: 600px;
  -webkit-perspective: 600px;
  width: 100px;
  height: 200px;
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.vue-flip-card.is-flipped {
  transform: rotateY(180deg);
}

.vue-flip-card .card,
.vue-flip-card .back {
  height: 136px;
}

.vue-flip-card > div {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.vue-flip-card > div > div {
  display: flex;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
}

.vue-flip-card > div:last-child {
  transform: rotateY(180deg);
}

.vue-flip-card .digit {
  font-size: 3rem;
  height: 50px;
  top: 150px;
}

.vue-flip-card div.back {
  background-image: url(../images/card-back.svg);
  background-repeat: no-repeat;
}

.vue-binary-cards-total {
  backface-visibility: hidden;
  text-align: center;
  font-size: 4rem;
}
