.vue-color-picker-3-cols {
  display: flex;
}
.vue-color-picker-3-cols > * {
  flex: 1;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.vue-color-picker-3-cols > div.margin {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
}
