table.vue-grid {
  table-layout: fixed;
  width: inherit;
  background-color: $black;
}

table.vue-grid td {
  border-width: 1px;
  border-style: solid;
  width: 24px;
  height: 24px;
  padding: 0;
}
