<template>
  <v-card-link :cover="cover ? book.cover : null" :icon="cover ? null : book.icon" :subtitle="book.subtitle" :title="book.title" :to="book.link"/>
</template>
<script>
import { books } from '../core/navigation.js';

export default {
  props: {
    name: { type: String },
    cover: { type: Boolean, default: false },
  },
  data() {
    return {
      book: {},
    };
  },
  async created() {
    this.book = await books.lookup(this.name);
  },
};
</script>
