<template>
  <figure class="video">
    <iframe width="560" height="315" :src="src" frameborder="0" allow="" allowfullscreen></iframe>
    <figcaption><slot></slot></figcaption>
  </figure>
</template>
<script>
export default {
  props: {
    id: { type: String, default: null },
    source: { type: String, default: 'youtube' },
  },
  computed: {
    src() {
      if (this.source === 'youtube')
        return `https://www.youtube-nocookie.com/embed/${this.id}`;
      if (this.source === 'ted')
        return `https://embed.ted.com/talks/lang/de/${this.id}`;
      if (this.source === 'vimeo')
        return `https://player.vimeo.com/video/${this.id}`;
    },
  },
};
</script>