<template>
  <div :class="dialogClasses" id="modal" tabindex="-1" role="dialog">
    <div class="modal-background"></div>
    <div class="modal-card">
      <div class="modal-card-head">
        <h5 class="modal-card-title">Anmeldung</h5>
        <button class="delete" @click="close"></button>
      </div>
      <div class="modal-card-body">
        <div class="field">
          <label class="label">E-Mail</label>
          <input
            class="input"
            type="text"
            placeholder="E-Mail"
            size="255"
            v-model="email"
          />
        </div>
        <div class="field">
          <label class="label">Passwort</label>
          <input
            class="input"
            type="password"
            placeholder="Password"
            size="32"
            v-model="password"
          />
        </div>
      </div>
      <div class="modal-card-foot">
        <button type="button" class="button is-primary" @click="login">
          Anmelden
        </button>
        <button type="button" class="button is-secondary" @click="close">
          Schliessen
        </button>
      </div>
    </div>
  </div>
</template>
<script>
const appwrite = new Appwrite();
appwrite.setEndpoint('https://srothe.ch/v1').setProject('61bb99092bf8f');

export default {
  props: {
    modelValue: { type: Boolean, default: false },
  },

  emits: ['update:modelValue'],
  data() {
    return {
      value: this.modelValue,
      email: 'stefan.rothe@gymkirchenfeld.ch',
      password: '',
      dialogClasses: ['modal'],
    };
  },
  watch: {
    modelValue() {
      const result = ['modal'];
      if (this.modelValue) result.push('is-active');
      this.dialogClasses = result;
    },
  },
  methods: {
    close() {
      this.value = false;
      this.$emit('update:modelValue', this.value);
    },
    async login() {
      const ok = await appwrite.account.createSession(
        this.email,
        this.password,
      );
      console.log('Login: ', ok);
    },
  },
};
</script>
