<template>
  <div class="app">
    <nav class="navbar is-fixed-top">
      <div class="navbar-brand">
        <a class="navbar-item is-hidden-desktop" href="#" @click="toggleSidebar">
          <v-icon :name="sidebarIcon"/>
        </a>
        <v-link class="navbar-item is-hidden-desktop" :to="mainLink">
          <v-icon name="mdi-home"/>
        </v-link>
        <v-link class="navbar-item is-hidden-touch" :to="mainLink">
          <img v-if="logo" class="d-inline-block align-top navbar-logo" :src="logo">{{ title }}
        </v-link>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <v-link v-for="item in navbarMenuStart" class="navbar-item" :to="item.link" :key="item.link">
            <v-icon :name="item.icon"/> {{ item.title }}
          </v-link>
        </div>
        <div class="navbar-end">
          <v-link v-for="item in navbarMenuEnd" class="navbar-item" :to="item.link" :key="item.link">
            <v-icon :name="item.icon"/> {{ item.title }}
          </v-link>
          <AccountStatus/>
        </div>
      </div>
    </nav>
    <div id="scrolling" :class="{ 'sidebar-visible': sidebarVisible }">
    <div id="sidebar-mask" @click="closeSidebar"></div>
      <aside class="menu" id="sidebar">
        <div class="is-hidden-desktop">
          <v-link v-for="item in navbarMenuStart" class="navbar-item" :to="item.link" :key="item.link">
            <v-icon :name="item.icon"/> {{ item.title }}
          </v-link>
          <hr>
        </div>
        <Menu :page="page" :root="course"/>
        <hr>
        <Menu :course="course" :page="page" :root="book" print/>
        <footer></footer>
      </aside>
      <main>
        <div v-if="message" class="message is-danger">
          <div class="message-header">
            Fehler
          </div>
          <div class="message-body">
            {{ message }}
          </div>
        </div>
        <MarkdownView @loaded="pageLoaded" :page="page" :permalink="permalink" :pageEntry="pageEntry"/>
      </main>
      <footer class="footer has-text-centered">
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.de" target="_blank">
          <img alt="CC BY-NC-SA" src="images/cc-by-nc-sa.svg"> Text und Bilder von {{ author }}, Ausnahmen sind gekennzeichnet.
        </a>
      </footer>
    </div>
  </div>
</template>
<script>
import { sha256 } from '../common/crypt.js';
import { baseUrl, loadJson, Storage } from '../common/service.js';
import AccountDialog from '../generated/account-dialog.js';
import MarkdownView from '../generated/markdown-view.js';
import Menu from '../generated/menu.js';
import { books, courses, page } from '../core/navigation.js';

function sanitizeTitle(str) {
  let result = '';
  for (let i = 0; i < str.length; ++i) {
    if (str.charCodeAt(i) < 0xf000) result += str.charAt(i);
  }
  return result;
}

const AccountStatus = {
  components: {
    AccountDialog,
  },
  data() {
    return {
      dialogVisible: false,
      status: 'Ausgeloggt',
    };
  },
  template: `
    <a @click="dialogVisible = true" class="navbar-item"><v-icon name="mdi-account"/></a>
    <AccountDialog v-model="dialogVisible"/>
    `,
};

export default {
  components: {
    AccountStatus,
    MarkdownView,
    Menu,
  },
  data() {
    return {
      accountDialogVisible: false,
      author: null,
      book: books.empty,
      course: courses.empty,
      loading: false,
      logo: null,
      mainLink: '',
      message: '',
      page: null,
      navbarMenuEnd: [],
      navbarMenuStart: [],
      showSidebar: false,
      screenType: null,
      title: null,
    };
  },
  watch: {
    book(newValue) {
      Storage.store('book', newValue.name);
    },
    course(newValue) {
      Storage.store('course', newValue.name);
    },
  },
  computed: {
    mobile() {
      return this.screenType === 'tablet' || this.screenType === 'phone';
    },
    permalink() {
      const b = this.book.name;
      const page = this.book.pageByUri(this.page);
      const p = page ? page.id : null;
      if (b && p) {
        return baseUrl() + '?b=' + b + '&p=' + p;
      } else {
        return null;
      }
    },
    pageEntry() {
      return this.book.pageByUri(this.page);
    },
    sidebarIcon() {
      return this.showSidebar ? 'mdi-close' : 'mdi-menu';
    },
    sidebarVisible() {
      switch (this.screenType) {
        case 'smartphone':
        case 'tablet':
          return this.showSidebar;
        case 'desktop':
        case 'widescreen':
          return true;
        default:
          return false;
      }
    },
  },
  async mounted() {
    const config = await loadJson('config/config.json');
    this.author = config.author;
    this.logo = config.logo;
    this.mainLink = config.mainLink;
    this.navbarMenuEnd = config.navbarMenuEnd;
    this.navbarMenuStart = config.navbarMenuStart;
    this.title = config.title;
    Storage.init(config.namespace);
    // remove obsolete storage entry
    Storage.store('context', null);
    window.addEventListener('resize', () => this.updateScreenType());
    this.updateScreenType();
    await Promise.all([courses.init(config.courses), books.init(config.books)]);
    this.load(this.evalutateParams());
  },
  beforeRouteUpdate(to) {
    if (to.query.cmd) {
      this.command(to.query.cmd);
    } else {
      to.query.redirectBook = true;
      this.load(to.query);
    }
  },
  methods: {
    evalutateParams() {
      const query = this.$route.query;
      const params = {};
      params.redirectBook = true;
      params.book = query.book || query.b;
      params.course = query.course || query.c;
      params.page = query.page;
      params.p = query.p;
      if (params.p || params.page) {
        params.redirectBook = !!params.book;
        params.book = params.book || Storage.load('book');
        params.course = params.course || Storage.load('course');
      } else {
        // empty?
        if (!(params.book || params.course)) {
          params.redirectBook = false;
          params.book = Storage.load('book');
          params.course = Storage.load('course');
          params.page = Storage.load('page');
        }
      }
      return params;
    },
    async command(cmd) {
      if (cmd === 'unlock') {
        const code = window.prompt('Gib deinen Code ein:', '');
        const hashedKey = await sha256(code);
        Storage.store('key', hashedKey);
      }
    },
    async load(params) {
      this.message = null;
      if (params.course) await this.loadCourse(params);
      if (params.book) await this.loadBook(params);
      if (params.page) {
        await page.open(params.page);
        this.page = params.page;
      }
      this.updateTitle();
    },
    closeSidebar() {
      this.showSidebar = false;
    },
    async loadCourse(params) {
      const name = params.course;
      if (name === 'none') {
        this.course = courses.empty;
        return;
      }
      this.course = await courses.lookup(name);
      if (this.course.empty) {
        this.message = 'Kann Kurs ' + name + ' nicht finden.';
      } else {
        params.book = params.book || this.course.book;
        params.page = params.page || this.course.page;
      }
    },
    async loadBook(params) {
      const name = params.book;
      if (name === 'none') {
        this.book = books.empty;
        return;
      }
      this.book = await books.lookup(name);
      if (this.book.empty) {
        this.message = 'Kann Buch ' + name + ' nicht finden.';
      } else {
        if (params.redirectBook && this.book.redirect) {
          window.location = this.book.redirect;
          return;
        }
        if (params.p)
          params.page =
            this.book.pageById(parseInt(params.p)).page || params.page;
        params.page = params.page || this.book.page;
      }
    },
    pageLoaded(error) {
      if (error) {
        this.message = 'Seite ' + page.page + ' kann nicht geladen werden.';
      }
      Vue.nextTick(() => {
        this.updateTitle();
      });
    },
    showError(message) {
      console.error(message);
    },
    showKeyDialog() {
      this.keyDialogVisible = true;
    },
    toggleSidebar() {
      this.showSidebar = !this.showSidebar;
    },
    updateScreenType() {
      this.screenType = window
        .getComputedStyle(document.querySelector('body'), ':before')
        .getPropertyValue('content')
        .replace(/"/g, '');
    },
    updateTitle() {
      const part1 = this.book.title || '';
      let part2 = '';
      const contentH1 = document.querySelector('#content h1');
      if (contentH1) part2 = sanitizeTitle(contentH1.textContent);
      document.title = part1;
      if (part1 !== part2 && part2) {
        document.title += ' - ' + part2;
      }
    },
  },
};
</script>
