<template>
  <div class="vue-code">
    <div v-if="toolbar" class="vue-code-toolbar">
      <button class="button is-small is-ghost" @click="copy">Kopieren</button>
    </div>
    <pre v-if="initialized" :class="preClasses"><code ref="code" :class="codeClasses"><slot>{{ code }}</slot></code></pre>
  </div>
  </template>
<script>
import { loadScript, loadText, Singleton } from '../common/service.js';

const PRISM = new Singleton(async function () {
  window.Prism = { manual: true };
  await loadScript('lib/prism/prism.js');
  const result = window.Prism;
  result.plugins.customClass.prefix('prism-');
  result.languages.aseba = {
    comment: {
      pattern: /(^|[^\\])#.*/,
      lookbehind: true,
    },
    function: {
      pattern: /((?:^|\s)def[ \t]+)[a-zA-Z_]\w*(?=\s*\()/g,
      lookbehind: true,
    },
    'class-name': {
      pattern: /(\bclass\s+)\w+/i,
      lookbehind: true,
    },
    keyword:
      /\b(?:abs|call|callsub|do|else|elseif|emit|end|for|if|in|onevent|return|step|sub|then|var|when|while)\b/,
    builtin:
      /\b(?:acc|button|buttons|leds|math|mic|motor|prox|rc5|sd|sound|tap|temperature|timer|timer0|timer1)\b/,
    number:
      /(?:\b(?=\d)|\B(?=\.))(?:0[bo])?(?:(?:\d|0x[\da-f])[\da-f]*\.?\d*|\.\d+)(?:e[+-]?\d+)?j?\b/i,
    operator: /[-+%=]=?|!=|\*\*?=?|\/\/?=?|<[<=>]?|>[=>]?|[&|^~]/,
    punctuation: /[[\];(),.:]/,
  };
  return result;
});

export default {
  props: {
    def: { type: Boolean },
    language: { type: String },
    src: { type: String },
    toolbar: { type: Boolean },
  },
  data() {
    return {
      code: null,
      prism: null,
      initialized: false,
    };
  },
  computed: {
    canPlay() {
      return false;
    },
    codeClasses() {
      let result = 'language-' + this.language;
      if (!this.def) result += ' line-numbers';
      return result;
    },
    preClasses() {
      return this.def ? 'vue-code-def' : '';
    },
  },
  async created() {
    this.prism = await PRISM.get();
    this.initialized = true;
    if (!this.src) return;
    this.code = await loadText(this.src);
  },
  methods: {
    copy() {
      const selection = window.getSelection();
      const range = document.createRange();
      range.selectNodeContents(this.$refs.code);
      selection.removeAllRanges();
      selection.addRange(range);
      document.execCommand('copy');
    },
    renderCode() {
      if (!this.prism) return;
      this.prism.highlightElement(this.$refs.code, false);
    },
  },
  mounted() {
    this.renderCode();
  },
  updated() {
    this.renderCode();
  },
};
</script>
