<template>
  <div class="box has-background-green-light exercise">
    <h4 v-if="title"><v-font-icon :name="icon" /> {{ title }}</h4>
    <slot name="slot1"></slot>
    <div v-if="hasHint">
      <hr />
      <v-collapsible title="Hinweis"
        ><slot :name="hintSlot"></slot
      ></v-collapsible>
    </div>
    <div v-if="hasSolution">
      <hr />
      <v-collapsible title="Lösung"
        ><slot :name="solutionSlot"></slot
      ></v-collapsible>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    icon: { type: String, default: 'exercise' },
    showSolution: { type: Boolean, default: false },
    title: { type: String, default: null },
  },
  data() {
    return {
      answer: '',
      hasHint: false,
      hasSolution: false,
      hintSlot: null,
      solutionSlot: null,
    };
  },
  mounted() {
    this.hasHint = this.$slots.slot3 !== undefined;
    this.hasSolution = this.$slots.slot2 !== undefined && this.showSolution;
    if (this.hasHint) {
      this.hintSlot = 'slot2';
      this.solutionSlot = 'slot3';
    } else {
      this.solutionSlot = 'slot2';
    }
  },
};
</script>
