<template>
  <span ref="root" v-if="name" :class="classes">
    <svg viewBox="0 0 24 24" :fill="fill">
      <path :d="path" />
    </svg>
  </span>
</template>
<script>
import MDI from '../generated/mdi.js';

const ICONS = {
  book: 'mdi-book-open-variant',
  construction: 'mdi-sign-caution',
  docx: 'mdi-file-word-box',
  download: 'mdi-download',
  exam: 'mdi-alert-decagram',
  exercise: 'mdi-pencil',
  extra: 'mdi-star',
  goal: 'mdi-bullseye-arrow',
  group: 'mdi-account-multiple',
  holiday: 'mdi-beach',
  interactive: 'mdi-cog',
  link: 'mdi-open-in-new',
  odt: 'mdi-text-box',
  pdf: 'mdi-file-pdf-box',
  pptx: 'mdi-file-powerpoint-box',
  task: 'mdi-pencil',
  timeline: 'mdi-timeline-outline',
  xlsx: 'mdi-file-excel-box',
  zip: 'mdi-zip-box',

  info: 'mdi-information-outline',
  'ios-action': 'mdi-export-variant',
  'thymio-down': 'mdi-arrow-down-drop-circle-outline',
  'thymio-left': 'mdi-arrow-left-drop-circle-outline',
  'thymio-middle': 'mdi-circle-outline',
  'thymio-right': 'mdi-arrow-right-drop-circle-outline',
  'thymio-up': 'mdi-arrow-up-drop-circle-outline',
  warning: 'mdi-alert-outline',
};

const DEPRECATED_ICONS = {
  0: 'mdi-numeric-0-box-outline',
  1: 'mdi-numeric-1-box-outline',
  fundamental: 'mdi-shape',
  important: 'mdi-lightbulb-on',
  'mdi-teach': 'mdi-human-male-board',
  reference: 'mdi-bookshelf',
};

function camelCase(input) {
  if (!input) return null;
  return input.toLowerCase().replace(/-(.)/g, function (match, group1) {
    return group1.toUpperCase();
  });
}

function normalize(name) {
  if (!name) return null;
  if (name in ICONS) name = ICONS[name];
  if (name in DEPRECATED_ICONS) {
    const oldName = name;
    name = DEPRECATED_ICONS[name];
    console.warn(`Icon-Name «${oldName}» ist veraltet. Verwende «${name}».`);
  }
  return name;
}

export default {
  props: {
    color: { type: String, default: null },
    name: { type: String },
    fit: { type: Boolean, default: false },
  },
  data() {
    return {
      fill: null,
    };
  },
  computed: {
    classes() {
      return this.fit ? 'svg-icon' : 'svg-icon autoscale';
    },
    path() {
      const name = camelCase(normalize(this.name));
      if (!(name in MDI)) {
        console.warn(`SVG icon ${name} not found.`);
        return '';
      }
      return MDI[name];
    },
  },
  mounted() {
    if (this.color) {
      this.fill = this.color;
    } else {
      if (!this.name) return;
      const el = this.$refs.root;
      this.fill = window.getComputedStyle(el).color;
    }
  },
};
</script>
