<template></template>
<script>
import { loadScript, Singleton } from '../common/service.js';

const KATEX = new Singleton(async function () {
  await loadScript('lib/katex/katex.min.js');
  return window.katex;
});

const MACROS = {
  '\\div': '\\operatorname{div}',
  '\\mod': '\\operatorname{mod}',
  '\\ggT': '\\operatorname{ggT}',
};

export default {
  props: {
    content: { type: String, default: '' },
    display: { type: Boolean, default: false },
  },
  data() {
    return { katex: null };
  },
  async created() {
    this.katex = await KATEX.get();
  },
  methods: {
    renderMath() {
      if (!this.katex) return;
      this.katex.render(this.content, this.$el, {
        displayMode: this.display,
        macros: MACROS,
      });
    },
  },
  mounted() {
    this.renderMath();
  },
  updated() {
    this.renderMath();
  },
  render() {
    if (!this.katex) return null;
    return Vue.h(this.display ? 'div' : 'span');
  },
};
</script>
