<template>
  <li v-if="visible"><v-link :class="linkClasses" :to="item.link || '?page=' + item.page">
    <span><v-icon :name="item.icon"/>{{ item.title }}</span>
    <span v-if="item.items" :class="{ 'submenu-indicator': true, open: item.show }"><v-icon name="mdi-chevron-up"></v-icon></span>
    </v-link>
    <ul v-if="item.items" v-show="this.item.show">
      <MenuItem v-for="subitem in item.items" :key="subitem.page" :course="course" :item="subitem" :page="page"/>
    </ul>
  </li>
</template>
<script>
export default {
  name: 'MenuItem',
  props: {
    course: { type: Object },
    item: { type: Object },
    page: { type: String },
  },
  computed: {
    visible() {
      return !this.course || this.course.name === 'none' || !this.item.teacher;
    },
    linkClasses() {
      return this.item.page === this.page ? 'is-active' : '';
    },
  },
};
</script>
