<template>
  <ul class="menu-list">
    <v-link v-if="root.title" class="menu-root" :to="rootLink" id="context-title"><v-icon :name="root.icon"/>{{ root.title }}</v-link>
    <ul class="menu-list">
      <MenuItem v-for="item in root.items" :key="item.page" :course="course" :item="item" :page="page"/>
    </ul>
  </ul>
</template>
<script>
import MenuItem from '../generated/menu-item.js';

export default {
  components: {
    MenuItem,
  },
  props: {
    course: { type: String },
    page: { type: String },
    root: { type: Object },
  },
  computed: {
    rootLink() {
      return '?page=' + this.root.page;
    },
  },
  watch: {
    page() {
      this.update();
    },
    root() {
      this.update();
    },
  },
  methods: {
    update() {
      this.recursiveInit(this.root);
      this.recursiveSetVisibility(this.root);
    },
    recursiveInit(item) {
      if (item.items) {
        for (let i = 0; i < item.items.length; ++i) {
          this.recursiveInit(item.items[i]);
        }
      }
      if (item.page && item.page[0] === '/') item.page = item.page.substr(1);
      item.show = false;
    },
    recursiveSetVisibility(item) {
      let show = item.page === this.page;
      if (item.items) {
        for (let i = 0; i < item.items.length; ++i) {
          show = show || this.recursiveSetVisibility(item.items[i]);
        }
      }
      item.show = show;
      return show;
    },
  },
};
</script>

