/* fix Bulma rule conflicting with CodeMirror */
.content .CodeMirror pre:not(:last-child) {
  margin-bottom: 0;
}

.vue-code {
  margin-top: -0.5em;
  margin-bottom: 0.5em;
  position: relative;
}

/* less padding around pre element */
.vue-code > pre {
  padding: 0.5rem;
  border-radius: $radius-large;
  border-style: solid;
  border-color: $border;
  border-width: $control-border-width;
}

pre.vue-code-def {
  background-color: $md-blue-50;
  border-top-color: $md-blue-700;
  border-top-style: solid;
  padding: 0.1rem;
  margin-top: 1.5rem;
}

.vue-code-def code {
  font-weight: bold;
}

.vue-code-toolbar {
  z-index: 18;
  position: absolute;
  right: 4px;
  top: 4px;
}

.card .vue-code .code {
  font-size: 0.9rem;
}
