.svg-icon.autoscale {
  display: inline-flex;
  align-self: center;
  vertical-align: middle;
  padding-bottom: 0.2em;
}

.svg-icon.autoscale {
  margin-right: 0.3em;
}

kbd .svg-icon.autoscale {
  margin-right: 0;
}

.submenu-indicator .svg-icon.autoscale {
  margin-left: 0.3em;
}

.svg-icon.autoscale svg {
  height: 1em;
  width: 1em;
}

.svg-icon svg {
  height: 100%;
}

aside ul.menu-list a:hover svg {
  fill: $md-blue-grey-900;
}

aside ul.menu-list a.is-active svg {
  fill: $md-blue-grey-900;
}