.page-navigation {
  margin-top: 0.75rem;
  padding-top: 0.75rem;
  border-top-style: solid;
  border-top-color: black;
  border-top-width: 1pt;
}

.page-menu {
  padding-top: 52px;
  margin-top: 0.75rem;
  margin-right: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
}
