aside {
  background-color: $md-blue-grey-900;
  padding-top: 0.25em;
}

aside hr {
  margin: 0.5rem 0;
}

aside ul.menu-list .menu-root {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 500;
}

aside .submenu-indicator {
  float: right;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

aside .submenu-indicator.open {
  transform: rotate(180deg);
}

aside ul.menu-list a {
  border-radius: 2px 0 0 2px;
  color: $md-blue-grey-100;
}

aside ul.menu-list a:hover {
  color: $md-blue-grey-900;
  background-color: $md-blue-grey-200;
}

aside ul.menu-list a.is-active {
  background-color: $md-blue-grey-100;
  color: $md-blue-grey-900;
}

aside ul.menu-list li ul {
  margin-right: 0;
}

aside footer {
  min-height: 2cm;
}
